[MASTER]
fail-under=10.0
disable=
  broad-except,
  broad-exception-raised,
  global-statement,
  invalid-name,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  multiple-statements,
  no-member,
  no-value-for-parameter,
  redefined-builtin,
